@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Recursive&family=Space+Mono&display=swap');@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Recursive&family=Space+Mono&display=swap');
@import "tailwindcss";

body { 
    --tw-bg-opacity: 1;
    background-color: black;
    color: white;
    font-family: "Inter", serif;
    scroll-behavior: smooth;
}
